#List are Mutable Touples are not mutable

In [7]:
my_list = [1, 2, 3]
print(my_list, end = " ")
my_list[0] = 10
print(my_list, end = " ")
my_list.append(4)
print(my_list, end = " ")
my_list.remove(2)
print(my_list)

[1, 2, 3] [10, 2, 3] [10, 2, 3, 4] [10, 3, 4]

#Touples are not mutable

In [10]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10 #This results in an error
my_tuple.append(4) #This results in an error

#One list can store more then one data types

In [20]:
template_list = [1, True, 0.321, False, 'A' , None, "String"]
template_list

[1, True, 0.321, False, 'A', None, 'String']

In [21]:
template_touple = (1, True, 0.321, False, 'A' , None, "String")
template_touple

(1, True, 0.321, False, 'A', None, 'String')

# Time performance
#Reason

-> Touples are immutable. So because of this they donot require more memory to when they are created. List on the other hand has append(), remove() functions which requires more space when creating them as new elements can be inserted

-> Touples are stored in continuous memory locations but lists donot gurentee to be stored in continuous memory location because if a new number is added in the array of memory woth no space then it has to be shifted into some other new space which makes it less memory efficient

Touples are faster then list in creation

In [18]:
import timeit

list_time = timeit.timeit('[1, 2, 3, 4, 5]', number = 100000000)
touple_time = timeit.timeit("(1, 2, 3, 4, 5)", number = 100000000)
print(f"{list_time:.4f}, {touple_time:.4f}", sep=", ")

5.9075, 1.0564

Touples are faster then list in iteration

In [22]:
list_iteration = timeit.timeit('for x in l: pass', setup='l=[1,2,3,4,5,6,7,8,9,10]', number=1000000)
tuple_iteration = timeit.timeit('for x in t: pass',  setup='t=(1,2,3,4,5,6,7,8,9,10)', number=1000000)
print(f"{list_iteration:.4f}, {tuple_iteration:.4f}", sep=", ")

0.3729, 0.2414

Touples are faster then list Element acces speed

In [23]:
list_iteration = timeit.timeit('l[2]', setup='l=[1,2,3,4,5,6,7,8,9,10]', number=1000000)
tuple_iteration = timeit.timeit('t[2]',  setup='t=(1,2,3,4,5,6,7,8,9,10)', number=1000000)
print(f"{list_iteration:.4f}, {tuple_iteration:.4f}", sep=", ")

0.0364, 0.0316

Touples are faster then array in length check

In [24]:
list_iteration = timeit.timeit('len(l)', setup='l=[1,2,3,4,5,6,7,8,9,10]', number=1000000)
tuple_iteration = timeit.timeit('len(t)',  setup='t=(1,2,3,4,5,6,7,8,9,10)', number=1000000)
print(f"{list_iteration:.4f}, {tuple_iteration:.4f}", sep=", ")

0.0317, 0.0272

# Touples can be used as keys but list cannot be used as keys in dictionaries

The idea of keys is that they are ment to me unique and cannot be changed. So when tuples are used as keys then they are never change so that is why they are allowed as keys is dictionaries. But when list is used then list can be changes so list donot satify the condition of it being used as a key.

In [29]:
dictionary = {
    (4, 5, 6): "Touple",
    #[1 ,2, 3]: "Array",  # This results an error
}

#Some other usefull functions

In [41]:
temp_list = [3, 4, 5, 1, 2]
print(temp_list, end = " ")

temp_list.append(6)
print(temp_list, end = " ")

temp_list.pop()
print(temp_list, end = " ")

temp_list.insert(0, 0) # location, number
print(temp_list, end = " ")

temp_list.pop(1) # pop by inedx
print(temp_list)

result = 3 in temp_list
print(result)

my_list = [3, 1, 4, 1, 5]
my_list.sort()
print(my_list, end = " ")

my_list.reverse()
print(my_list, end = " ")

new_list = my_list.copy() # Copy the list
print(my_list, end = " ")

words = ["hello", "world"]
sentence = " ".join(words)  # "hello world"
print(sentence)

my_list.clear() # Clear all elements
print(my_list, end = " ")

[3, 4, 5, 1, 2] [3, 4, 5, 1, 2, 6] [3, 4, 5, 1, 2] [0, 3, 4, 5, 1, 2] [0, 4, 5, 1, 2]
False
[1, 1, 3, 4, 5] [5, 4, 3, 1, 1] [5, 4, 3, 1, 1] hello world
[]